{% extends "base.html" %}
{% block content %}

    <title>Registration</title>

    <div class="card text-left">
        <div class="card-header">
            Registration
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'register' %}">{% csrf_token %}
                {% if form.errors %}
                    <p class="card-text">Что-то пошло не так</p>
                {% endif %}

                <p class="card-text">{{form.as_p}}</p>

                <input type="submit" class="btn btn-primary" value="Зарегистрироваться" ></input>
            </form>
        </div>
    </div>

{% endblock content %}